*{
    margin: 0;
    padding: 0;
    outline: 0;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quote{
    width: 50vw;
}
.quote blockquote{
    font-size: 2rem;
}
.quote p.author {
    margin-top: 20px;
    font-size: 1.2rem;
    text-align: right;
}
